body {
	background-image: url("fondo.jfif");
	background-size: contain;
	margin-top: 8em;
	margin-left: 8em;
	margin-right: 8em;
	marker-mid: 8em;
	margin-bottom: 8em;
}
h1 {
  font-style:italic;
  color: DARKGREEN;

}

h2 {
	font-style: fantasy;
	color: DARKBLUE;

}


.caja {

font-style: fantasy;

color: DARKBLUE;

font-size: 26px;

font-weight: 400;

text-align: initial;

background: #889ccf;

margin: 0 0 25px;

overflow: hidden;

padding: 20px;

border-radius: 35px 0px 35px 0px;

-moz-border-radius: 35px 0px 35px 0px;

-webkit-border-radius: 35px 0px 35px 0px;

border: 2px solid #5878ca;


}



